/* manrope-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/manrope-v15-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Manrope";
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(31, 39, 51);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.card {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 540px;
  height: 332px;
  text-align: center;
  background-color: #313a48;
  border-radius: 15px;
}

.main__tag {
  color: #53ffaa;
  font-weight: 800;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 4px;
  margin-bottom: 24px;
}
.description {
  height: 114px;
  color: #cee3e9;
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 40px;
}
.pause__line {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.line {
  width: 196px;
  height: 1px;
  background-color: #4f5d74;
}

.btn {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #53ffaa;
  border-color: #53ffaa;
  margin-top: 40px;
  margin-bottom: -80px;
}
.btn:hover {
  cursor: pointer;
}
.btn:active {
  box-shadow: -1px 0px 47px 4px rgba(83, 255, 170, 0.9);
  -webkit-box-shadow: -1px 0px 47px 4px rgba(83, 255, 170, 0.9);
  -moz-box-shadow: -1px 0px 47px 4px rgba(83, 255, 170, 0.9);
}
